.swiper2 .swiper-pagination-bullet 
{
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #ffd800;
    opacity: 1;
}

.swiper2 .swiper-pagination-bullet-active 
{
    width: 60px;
    transition: width .5s;
    border-radius: 5px;
    background: #ffd800;
    border: 1px solid transparent;
}