
.wrap
{
    width: 96%;
    margin: 0 auto;
}

header .wrap
{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 319px) /*  가로가 319보다 큰 화면에 적용 //휴대폰*/
{
    .logo
    {
        padding-top: 20px;
    }

    .logo img
    {
        width: 100px;
    }

    nav .nav-menu
    {
        visibility: hidden;
    }

    .right_box /* 검색 버튼 */
    {
        visibility: hidden;
    }   
}

@media (min-width: 767px) /*  가로가 767보다 큰 화면에 적용 //타블렛*/
{
    .logo
    {
        padding-top: 5px;
        padding-left: 20px;

        margin-right: 30px;
    }

    .logo img
    {
        width: 100px;
    }

    nav .nav-menu
    {
        visibility: inherit;

        color: white;
        text-decoration: none;
        font-size: 18px;
    
        padding: 0 20px;
    }

    .right_box /* 검색 버튼 */
    {
        visibility: inherit;
        position: absolute;

        right: 30px;
        top: 30px;

        z-index: 1;
    }

    .right_box .search a span
    {
        font-size: 30px;
    }
}

@media (min-width: 1200px) /*  가로가 1200보다 큰 화면에 적용 //컴터*/
{
    .logo
    {
        margin-top: -20px;

        padding-left: 180px;
        margin-right: 70px;
    }

    .logo img
    {
        width: 160px;
    }

    nav .nav-menu
    {
        visibility: inherit;

        color: white;
        text-decoration: none;
        font-size: 28px;
        
        margin-top: -20px;
        padding: 0 50px;
    }

    .right_box /* 검색 버튼 */
    {
        visibility: inherit;
        position: absolute;

        right: 200px;
        top: 50px;

        z-index: 1;
    }

    .right_box .search a span
    {
        font-size: 45px;
    }
}

nav
{
    color: white;
    position: absolute;

    left: 1%;
    top: 3vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}


nav a:hover
{
    color:#68ca2f;
}


.clickable a 
{
    position: absolute;
    top: 0;
    left:0;
    width: 98vw;
    height: 56.1vw;
    z-index: 0;
}



