.new_wrap
{
    width: 65%;
    margin: auto;
}


@media (min-width: 319px) /*  가로가 319보다 큰 화면에 적용 //휴대폰*/
{
    .new_banner
    {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .new_name
    {
        text-align: center;
        font-size: 27px;
        padding-bottom: 15px;
        font-weight: 650;
    }

    .text_box, .new_product_img
    {
        visibility: hidden;
    }
    
    .justify_box
    {
        display: flex;
        justify-content: flex-start;

        height: 150px;
    }

}

@media (min-width: 767px) /*  가로가 767보다 큰 화면에 적용 //타블렛 */
{
    .new_banner
    {
        padding-top: 40px;
    }

    .new_name
    {
        text-align: center;
        font-size: 30px;
        padding-bottom: 30px;
        font-weight: 650;
    }

    .text_box
    {
        visibility: visible;
        margin-left: 20px;
    }

    .new_concept
    {
        font-weight: 500;
        
        font-size: 18px;
        margin: 14px 0;
    }   

    .text_box p
    {
        font-weight: 500;
        color:rgb(85, 82, 82);
        margin-bottom: 8px;

        font-size: 8.9px;
    }

    .img_display
    {
        position: absolute;
        left: 540px;
    }                                   

    .new_product_img
    {
        visibility: visible;

        width: 180px;
        height: 140px;
        margin-top: 70px;
    }

    .new_count
    {
        font-size: 13px;
        padding-top: 5px;
    }

    .new_price
    {
        font-size: 18px;
    }

    .justify_box
    {
        display: flex;
        justify-content: flex-start;

        height: 250px;
    }
}

@media (min-width: 1200px) /*  가로가 1200보다 큰 화면에 적용 //컴터 */
{
    .new_banner
    {
        padding-top: 50px;
        margin-bottom: 50px;

        height: 450px;
    }

    .new_name
    {
        text-align: center;
        font-size: 27px;
        padding-bottom: 30px;
        font-weight: 650;
    }

    .text_box
    {
        visibility: visible;
        margin-left: 30px;
    }

    .new_concept
    {
        font-weight: 500;
        font-size: 24px;
        margin: 14px 0;
    }   

    .text_box p
    {
        font-weight: 500;
        color:rgb(85, 82, 82);
        margin-bottom: 8px;

        font-size: 14px;
    }

    .img_display
    {
        position: absolute;
        left: 1100px;
    }                                   

    .new_product_img
    {
        visibility: visible;

        width: 380px;
        height: 320px;
        margin-top: 120px;
    }

    .new_count
    {
        font-size: 20px;
        padding-top: 5px;
    }

    .new_price
    {
        font-size: 28px;
    }

    .justify_box
    {
        display: flex;
        justify-content: flex-start;

        height: 250px;
    }

}