/* ---- section 4 ---- */

.sec4
{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.ct4
{
    background: url(../img/main_banner/order_1900.jpg) no-repeat;
    background-size: cover;

    width: 35vw;
    height: 18vw;

    border-radius:10px;
}

.sec4 .order_text_box
{
    padding-left: 3vw;
    padding-top: 6.5vw;

    color: white;
    font-weight: 100;
}

.sec4 .order_text_box h1
{
    font-size: 1.6vw;
}

.sec4 .order_text_box h3
{
    font-weight: 200;
    font-size: 1.1vw;
}