/* ---- section 4 ---- */

@media (min-width: 319px) /*  가로가 319보다 큰 화면에 적용 //휴대폰*/
{
    .ct4
    {
        width: 300px;
        height: 160px;
    }

    .sec4 .order_text_box
    {
        padding-left: 30px;
        padding-top: 65px;

        color: white;
        font-weight: 100;
    }

    .sec4 .order_text_box h1
    {
        font-size: 20px;
    }

    .sec4 .order_text_box h3
    {
        font-weight: 200;
        font-size: 12px;
    }

}


@media (min-width: 768px) /*  가로가 319보다 큰 화면에 적용 //휴대폰*/
{
    .sec3-4
    {
        width: 75%;
        display: flex;
        justify-content: space-between;
    
        margin:auto;
    }

    .ct4
    {
        width: 35vw;
        height: 18vw;
    }

    .sec4 .order_text_box
    {
        padding-left: 3vw;
        padding-top: 6.5vw;

        color: white;
        font-weight: 100;
    }

    .sec4 .order_text_box h1
    {
        font-size: 1.6vw;
    }

    .sec4 .order_text_box h3
    {
        font-weight: 200;
        font-size: 1.1vw;
    }

}


.sec4
{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.ct4
{
    background: url(../img/main_banner/order_1900.jpg) no-repeat;
    background-size: cover;

    border-radius:10px;
}

