/* ---- section 2 ---- */

@media (min-width: 319px) /*  가로가 319보다 큰 화면에 적용 */
{       
    .sec2_wrap
    {
        width: 85%;
        margin: auto;
    }

    .section_name
    {
        font-size: 23px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .sec2
    {
        width:100%;
        height: 300px;
    }

    .sec2 a
    {
        display: flex;
        height: 300px;
    }

    .ct2
    {
        display: flex;
        height: 300px;
    }

    .right_text_box
    {
        margin-left: 7vw;
        width: 150px;
        height: 300px;
        margin-top: 100px;
    }                        

    .right_text_box .sale_mar_name
    {
        font-size: 20px;
        margin-bottom: 0.8vw;
    }

    .right_text_box .price
    {
        font-size: 15px;
        text-decoration: line-through;
        color:#a3a3a3; 
    }  

    .right_text_box .discounted
    {
        font-size: 20px;
        color:black;
    } 

    .right_text_box .discount_rate
    {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        color:rgb(218, 5, 5);
    } 

    .left_img_box
    {
        margin-top: 0.2vw;
    }

    .left_img_box img
    {
        position: absolute;
        object-fit: cover;

        z-index: -1;
        left: 0px;

        width: 100%;
        height: 300px;
    }

    .counter
    {
        margin-top: 10px;

        display: flex;
        align-items: center;
    }

    .counter .material-symbols-outlined
    {
        font-size: 20px;
        color:#2b2b2b;
        font-weight: bold;

        margin-top: 1px;
        margin-right: 6px;
    }

    .timer
    {
        font-weight: bold;
        font-size: 13px;
        color:#2b2b2b;
    }
}

@media (min-width: 768px) /*  가로가 768보다 큰 화면에 적용 */
{
        
    .sec2_wrap
    {
        width: 75%;
    }

    .section_name
    {
        font-size: 27px;
        margin-bottom: 1vw;
        margin-top: 1vw;
        font-weight: bold;
    }
    .sec2
    {
        width:100%;
        height: 20vw;

        margin-bottom: 3vw;
    }

    .sec2 a
    {
        display: flex;
        height: 20vw;
    }

    .ct2
    {
        display: flex;
        height: 20vw;
    }

    .right_text_box
    {
        margin-left: 7vw;
        width: 30vw;
        height: 20vw;
        margin-top: 4vw;
    }

    .right_text_box .sale_mar_name
    {
        font-size:1.6vw;
        margin-bottom: 0.8vw;
    }

    .right_text_box .price
    {
        font-size: 1.2vw;
        text-decoration: line-through;
        color:#a3a3a3; 
    }  

    .right_text_box .discounted
    {
        font-size: 2vw;
        color:black;
    } 

    .right_text_box .discount_rate
    {
        margin-left: .5vw;
        font-size: 1.8vw;
        font-weight: bold;
        color:rgb(218, 5, 5);
    } 

    .left_img_box
    {
        margin-top: 0.2vw;
    }

    .left_img_box img
    {
        position: absolute;
        object-fit: cover;

        z-index: -1;
        left: 0px;

        width: 100%;
        height: 20vw;
    }

    .counter
    {
        margin-top: 0.8vw;

        display: flex;
        align-items: center;
    }

    .counter .material-symbols-outlined
    {
        font-size: 2vw;
        color:#2b2b2b;
        font-weight: bold;

        margin-top: .4vw;
        margin-right: 1vw;
    }

    .timer
    {
        font-weight: bold;
        font-size: 2vw;
        color:#2b2b2b;
    }
}