@media (min-width: 219px) /*  가로가 219보다 큰 화면에 적용 */
{
    #mv
    {
        width: 100%;          /* ----- vw : 브라우저 넓이에 따라 width가 맞춰짐 ----- */
        height: 600px; /* ----- vh : 브라우저 넓이에 따라 height가 맞춰짐 ----- */
        object-fit: fill;
        border-radius: 0 0 0 15vw;  /* ----- 좌측하단 모서리 둥글게 ----- */
    }

    .video-header
    {
        position: absolute;

        top: 250px;
        left: 25vw;

        color: white;
        font-size: 12vw;

        font-weight: 100;
    }

    .video-ph
    {
        position: absolute;

        top: 200px;
        left: 43vw;

        color: white;
        font-size: 5vw;

        font-weight: 100;
    }

}

video::-webkit-media-controls
{
    display:none !important;
}

.main-visual
{
    position: absolute;
    left: 0;
    top:-5%;
    z-index: -1;
}



/* ---  video
{
    width: 99vw; 
    max-height: 100vh;
    object-fit: fill;
    border-radius: 0 0 0 15vw;
}

.video-header
{
    position: absolute;

    top: 17vw;
    left: 29vw;

    color: white;
    font-size: 9vw;

    font-weight: 100;
}

.video-ph
{
    position: absolute;

    top: 15vw;
    left: 43vw;

    color: white;
    font-size: 3vw;

    font-weight: 100;
}
*/

#new_mv
{
    width: 30vw;
    max-height: 100vh;
    border-radius: 0.5vw;
}

